{# レイアウトを継承する #}
{% extends "layout.html" %}

{# titleのブロックを書き換える #}
{% block title %}
ユーザーリスト
{% endblock %}

{# contentsのブロックを書き換える #}
{% block contents %}
  {% for user in users %}
    <div class="user">
        <h3>{{ user.name }}</h3>
        <p>年齢は、{{ user.age }}才です。</p>
    </div>
  {% endfor %}
{% endblock %}
